html, body, #map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

.map-canvas {
    height: 100%;
    margin: 0px;
    padding: 0px
}

div.clipboard {
    margin-top: 10px;
    padding: 8px;
    cursor: pointer;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

div.clipboard:hover {
    background-color: rgb(235, 235, 235);
}

div.clipboard-message {
    margin-top: 10px;
    padding: 8px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
}

div.station-counter {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    margin: 10px;
    padding: 8px;
    border-radius: 2px;
    font-family: Arial, sans-serif;
    font-size: 13px;
}

div.station-counter-style {
    display: flex;
    align-items: center;
    margin: 2px 0;
}

div.station-counter-style img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
